.left-div {
  background-color: #f2f3f7;
}

.right-div {
  background-color: blue;
}

.introComp {
  padding: 20px 0px;
}

.introComp img {
  border: 2px solid #ffffff;
}

.myInfo {
  padding: 10px 0px;
}

.wrapper{
  height: 100%;
}

.linkedIn{
  
}